PORT=8001
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql+asyncpg://storybot:storybotpass@localhost:5432/storybotdb
REDIS_URL=redis://localhost:6379/0
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

OPENAI_API_KEY=
ELEVENLABS_API_KEY=
UNSPLASH_ACCESS_KEY=
GUTENBERG_API_URL=https://www.gutenberg.org/
ISLAMIC_STORIES_API_URL=https://api.islamicstories.com/
AFRICAN_FOLKLORE_API_URL=https://api.africanfolklore.com/
